
<section class="employeelist">
  <h1>Employee list</h1>

  <div class="row">
    <div class="col-md-3 pb-3">
      <b-button  variant="success" v-bind:to="'add'">Add root Employee</b-button>
    </div>

    <div class="col-md-6 pb-4">
      <b-form-group id="dateInputGroup1"
                    label="Get info at Date:"
                    label-for="dateInput1"
                    horizontal>
        <datepicker  id="dateInput1"
                     v-model="date"
                     v-on:selected="onDateChange"
                     input-class="form-control">
        </datepicker>
      </b-form-group>
    </div>
  </div>

  <template>
    <b-table striped hover :items="employee" :fields="fields">
      <template slot="buttons" slot-scope="data">
        <b-button size="sm" @click.stop="onEdit(data.item)" class="mr-2 btn-success float-left">
          Edit
        </b-button>
        <b-button size="sm" @click.stop="onDelete(data.item)" v-if="data.item.hasSubEmployees === false" class="mr-2 btn-danger float-left">
          Delete
        </b-button>
        <b-button size="sm" @click.stop="onAddSubemployee(data.item)" class="mr-2 btn-info float-left" v-if="data.item.type !== 'Employee'">
          Add Subemployee
        </b-button>
      </template>
    </b-table>
  </template>

  <b-container class="bv-example-row bv-example-row-flex-cols">
    <b-row>
      <b-col align-self="end">Common Salary: {{commonSalary | currency('₽', 0)}}</b-col>
    </b-row>
  </b-container>

</section>

