<section class="employeeadd">
  <h1>Add employee</h1>

  <b-container>
    <b-row class="justify-content-md-center">
      <b-col col md="6">

        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <b-form-group id="nameInputGroup1"
                        label="Name:"
                        label-for="nameInput1">
            <b-form-input id="nameInput1"
                          v-model="employee.name"
                          required
                          placeholder="Enter name">
            </b-form-input>
          </b-form-group>

          <b-form-group id="typeInputGroup"
                        label="Type:"
                        label-for="typeInputGroup">
            <b-form-select id="typeInput"
                           :options="types"
                           required
                           v-model="employee.type">
            </b-form-select>
          </b-form-group>

          <b-form-group id="salaryInputGroup1"
                        label="Base salary:"
                        label-for="salaryInput1">
            <b-form-input id="salaryInput1"
                          v-model="employee.baseSalary"
                          required
                          placeholder="Enter base salary">
            </b-form-input>
          </b-form-group>

          <b-form-group id="dateInputGroup1"
                        label="Hire Date:"
                        label-for="dateInput1">
          <datepicker  id="dateInput1"
                        v-model="employee.hireDate"
                        required
                       placeholder="Enter hire date"
                       input-class="form-control">
          </datepicker>
          </b-form-group>

          <b-button type="submit" variant="primary">Submit</b-button>
          <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
      </b-col>

    </b-row>
  </b-container>
</section>
